.label {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    min-width: 20px;
    text-align: center;
}

.card {
    user-select: none;
    cursor: pointer;
    z-index: 9999 !important;
}

.date {
    color: rgb(68, 68, 68);
    font-size: 12px;
}

.center-icon {
    margin-top: auto;
    margin-bottom: auto;
}

.sooner {
    background: #FB8C00 !important;
}

.timeout {
    background: #e53935 !important;
}

.closed {
    background: #4CAF50 !important;
}