.label {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    min-width: 20px;
    text-align: center;
}

.card {
    user-select: none;
    cursor: pointer;
    z-index: 9999 !important;
}

.date {
    color: rgb(68, 68, 68);
    font-size: 12px;
}

.center-icon {
    margin-top: auto;
    margin-bottom: auto;
}

/* .date::before {
    content: '⏰ '
} */

.label-red {
    background: #f03434;
}

.label-green {
    background: #3fc380;
}

.label-blue {
    background: #1e8bc3;
}