.dash-name {
    text-decoration: underline;
    overflow: visible;
}

.list-main {
    min-width: 290px !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.20);
}

.dash-lists {
    flex-flow: nowrap;
    overflow-x: auto;
}

.listDesc {
    list-style-type: none;
    list-style: none;
}

.media {
    height: 140px;
    background-size: contain !important;
}

.attachItem {
    display: flex;
}

.sideMedia {
    width: 140px;
}

.searchInput {
    width: 120px;
    transition: 300ms all;
}

.searchInput:hover {
    width: 150px;
    transition: all 300ms;
}

.searchInput:focus {
    width: 150px;
    transition: all 300ms;
}